.main {
  margin-left: auto;
  margin-right: auto;
}

.backToGenerator {
  position: fixed;
  margin: 10px;
  z-index: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  background-color: aliceblue;
  width: 100%;
}

.timeline {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.timeline li {
  padding: 1em;
  position: relative;
}

.title {
  font-weight: lighter;
}

.error {
  text-align: center;
  background-color: #d97159;
  color: var(--red);
}

.timeline::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 6px;
  height: inherit;
  background: var(--black);
  position: fixed;
}

.timeline li div {
  position: relative;
  width: 300px;
  background: var(--beige);
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 10px 10px 20px lightgray;
}

/* CIRCLES */

.timeline li::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 50px;
  left: 50%;
  background: var(--red);
  z-index: 1;
  transform: translateX(-35%);
}

/* ARROWS */
.timeline li:nth-child(even):before {
  content: "";
  left: 53%;
  position: absolute;
  top: 40px;
  border: medium solid var(--beige);
  border-width: 15px 15px 15px 0;
  border-color: transparent var(--beige) transparent transparent;
}

.timeline li:nth-child(odd):before {
  content: "";
  left: 45%;
  position: absolute;
  top: 40px;
  border: medium solid var(--beige);
  border-width: 15px 0 15px 15px;
  border-color: transparent transparent transparent var(--beige);
}

/* ALIGNMENT */

.timeline li:nth-child(odd) div {
  left: 0;
  text-align: right;
  border-right: 0px;
}

.timeline li:nth-child(even) div {
  left: 55%;
  border-left: 0px;
  text-align: left;
}
